$primaryColor: #333;
$bgColor: #ecf0f1;
$blockColor: #ecf0f1;
$dragSize: 250px;
$nester: #8e44ad;
$common: #2980b9;

div,
h1,
h2,
body,
html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
} 

.col {
    float: left;
    display: inline-block;
}

.block-list {
    @extend .col;
    width: 25%;
}

.code {
    @extend .col;
    width: 60%;
    padding: 30px 0;
}

.block {
    -moz-user-select: none;
    -webkit-user-select: none;
    -user-select: none;
    cursor: move;
    width: $dragSize; 
    line-height: 50px;
    text-indent: 1em;
    color: $blockColor;
    border-radius: 5px;
    margin: {
        bottom: 5px;
        top: 5px;
    }
    h3 {
        position: relative;
        top: 40%;
    }

}

.nester {
    background-color: #8e44ad;
}

.common {
    background-color: $common; 
}

.empty {
    border: 2px dashed $blockColor; 
    opacity: 0.7;
}

.nested {
    margin-left: 50px;
}


.over {
    color: $blockColor;
    background-color: rgba(22, 160, 133,1.0);
}

.shadow {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.send {
    float: none;
    clear: both;
}

header {
    padding: 50px; 
    color: white;
    background-color: rgba(22, 160, 133,1.0);
}
.container {
    margin: {
        left: 10%;
        right: 10%;
    }
    padding: 50px;
}

body {
    background-color: $bgColor;
}

%answer {
    font-size: 2em;
    width: 100%;
    padding: 5px 10px;
    &::after {
        content: ".";
        color: transparent;
    }

}
.correct {
    @extend %answer;
    color: #2ecc71;
}
.incorrect {
    @extend %answer;
    color: #e74c3c;
}

