
<div data-index="2" class="block common" draggable="true">for(i = 0;i < 4;i++){</div>
<div data-index="2" class="block common" draggable="true">int i = 0;</div>
<div data-index="4" class="block common" draggable="true">}</div>
<div data-index="1" class="block common" draggable="true">int main(){</div>
<div data-index="3" class="block common" draggable="true">printf("%d \n",i+1);}</div>

