<div data-index="2" class="block common" draggable="true">printf("hola quimor");</div>
<div data-index="1" class="block common" draggable="true">int main(){</div>
<div data-index="3" class="block common" draggable="true">}</div>

