<div data-index="5" class="block common" draggable="true">else{</div>
<div data-index="3" class="block common" draggable="true">if(a > 50){</div>
<div data-index="1" class="block common" draggable="true">int main(){</div>
<div data-index="2" class="block common" draggable="true">int a = 100;</div>
<div data-index="4" class="block common" draggable="true">printf("Tu numero es mayor a 50");}</div>
<div data-index="6" class="block common" draggable="true">printf("Tu numero es menor a 50");}</div>
<div data-index="7" class="block common" draggable="true">}</div>

