<div data-index="2" class="block common" draggable="true">float flotante = 3.1416;</div>
<div data-index="3" class="block common" draggable="true">printf("Variable flotante: %f \n",flotante);</div>
<div data-index="1" class="block common" draggable="true">int main(){</div>
<div data-index="4" class="block common" draggable="true">}</div>
<div data-index="3" class="block common" draggable="true">printf("Variable entera: %d \n",entero);</div>
<div data-index="2" class="block common" draggable="true">char caracter = 'Q';</div>
<div data-index="2" class="block common" draggable="true">int entero = 42;</div>
<div data-index="3" class="block common" draggable="true">printf("Variable caracter: %c \n",caracter);</div>
<div data-index="2" class="block common" draggable="true">char cadena_caracteres[] = "Hola";</div>
<div data-index="3" class="block common" draggable="true">printf("Variable arreglo: %s \n",cadena_caracteres);</div>
