<div data-index="2" class="block common" draggable="true">int a = 5;</div>
<div data-index="6" class="block common" draggable="true">}</div>
<div data-index="1" class="block common" draggable="true">int main (){</div>
<div data-index="4" class="block common" draggable="true">int c = a + b;</div>
<div data-index="3" class="block common" draggable="true">int b = 10;</div>
<div data-index="5" class="block common" draggable="true">printf ("El resultado de tu operación es: %d",c);</div>

