<div class="container">
    <a class="bigLink" href="/ejercicio1">Ejercicio 1</a>
    <a class="bigLink" href="/ejercicio2">Ejercicio 2</a>
    <a class="bigLink" href="/ejercicio3">Ejercicio 3</a>
    <a class="bigLink" href="/ejercicio4">Ejercicio 4</a>
    <a class="bigLink" href="/ejercicio5">Ejercicio 5</a>
</div>

