<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<title>Blocks</title>
</head>
<body>

<header>
    <h1><a href="/">CockBlocks</a></h1>
    <h2>Ordena los bloques</h2>
</header>
    <%= yield %>
</body>
</html>
